# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: c42954abe5b50e605858e62a6c0ef575a0e13e03102cbdae362f9759505a75e3b91da415d4a5c0ab27eb80c5c66477645deeb0d46204e585d2e9c2453e4d90f8
  google_analytics:

test:
  secret_key_base: 0dd208dcb26bc3e4308e1f831343c8835b651aa290d7d74a246a5c3b37b2b337361ad1816b24713452179754787288e20f0588452c72ebb8b02804333809e3d9

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
  google_analytics:
