/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "datatables.min";
@import "adminlte-theme/main";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap-datepicker3";

table thead tr, tbody tr {
  th, td {
    text-align: center;
  }
}


.filterOn {
  background-color: #337ab7;
}

.sidebar-menu > li:hover > a.filterOn {
  background-color: #337ab7;
}

.sidebar-menu > li.applied-filter:hover > a{
  background-color: #a94442;
}

.creators-list a {
  display: block;
}

.calendar {
  @extend .sidebar-toggle;
  &:before {
    content: "" !important;
  }
}

i.fa-plus-circle, i.fa-minus-circle {
  cursor: pointer;
}
